.rating {
  display: flex;
  justify-content: center;
  position: relative;
  color: #ffb900;
  line-height: 16px;
  padding: 8px 0;
  font-size: 12px;

  svg {
    width: 16px;
    height: 16px;
  }
}
