@import "../../styles/animations";

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__actions {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 16px 8px;
    background: #006e41;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin: 40px;

  @media only screen and (max-width: 740px) {
    padding: 0;
    margin: 40px 16px;
  }
}

.subtotal {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 16px;
  letter-spacing: 1px;
}

.navigate {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;

  &:hover {
    text-decoration: underline;
  }

  svg {
    color: #c0c0c0;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
