.footer {
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}
