.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: #f7f7f759;
  }

  .add,
  .minus {
    position: relative;
    margin: 8px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: scale 0.1s ease-in;

    &:active {
      transform: scale(1.1);
    }

    &::after {
      content: "";
      opacity: 0;
      background: #dfdfdf;
      border-radius: 50%;
      transform: scale(0.9);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.1s ease-in;
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1);
      z-index: -1;
    }
  }

  .amount {
    width: 24px;
    text-align: center;
  }

  button {
    &:disabled {
      opacity: 0.65;
      cursor: not-allowed;
    }
  }
}
